.gradle/
.cxx/
captures/
build/
**/build/

gradle-wrapper.jar
/gradlew
/gradlew.bat

GeneratedPluginRegistrant.java
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
local.properties
key.properties
signing.properties
local-signing.properties
**/*.keystore
**/*.jks
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
